.woe-element-container {
	width: 100%;
}

#woe-response {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.woe-posts {
	display: grid;
	grid-auto-rows: 1fr;
	grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
	grid-column-gap: 1em;
	grid-row-gap: 2em;
}

.woe-posts__load-more {
	color: #fff;
	background-color: #0069ff;
	border-radius: 0.25em;
	padding: 0.5em 2em 0.5em 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-size: 1rem;
	transition: .3s ease-in-out all;
}

.woe-posts__load-more:hover {
	background-color: #217dff;
}

.woe-post {
	display: flex;
	flex-direction: column;
	position: relative;
	transition: .3s ease-in-out all;
}

.woe-post:hover {
	transform: translateY(-1rem);
}

.woe-post__image-wrapper {
	order: -1;
}

.woe-post__image {
	width: 100%;
	object-fit: cover;
	border-radius: 0.25em;
	aspect-ratio: 16 / 9;
}

.woe-post__body-container {
	display: flex;
	flex-direction: column;
	row-gap: 1em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.woe-post__footer {
	margin-top: auto;
}

.woe-post__link {
	font-size: 1rem;
	font-weight: 600;
}

.woe-post__link::after {
	content: "→";
	margin-left: 1em;
}

.woe-post__heading {
	font-size: 1.2rem;
}

.woe-post__heading>a::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}

.woe-post__text {
	position: relative;
	font-size: 0.8rem;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.woe-post__text::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, #ffffff 100%);
}

.woe-post__category-container {
	display: flex;
	gap: 0.5em;
	overflow: hidden;
}

.woe-post__category {
	color: white;
	background-color: #9f9f9f;
	border-radius: 0.15em;
	padding: 0 1rem 0 1rem;

}

.woe-fadeIn {
	animation-name: woe-fadeIn;
	animation-duration: 0.8s;
	animation-timing-function: ease;
}

.woe-fadeOut {
	animation-name: woe-fadeOut;
	animation-duration: 0.4s;
	animation-timing-function: ease;
	opacity: 0;
}

.woe-loading {
	opacity: 0;
}

@keyframes woe-fadeOut {
	0% {
		opacity: 1;
		-webkit-transform: scale(1)
	}

	1% {
		opacity: 0.5;
		transform: scale(0.9)
	}

	100% {
		opacity: 0;
		-webkit-transform: scale(0.8)
	}
}

@keyframes woe-fadeIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(1)
	}

	1% {
		opacity: 0.2;
		transform: scale(0.2)
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1)
	}
}

.woe-radio-toolbar {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1.8em;
	column-gap: 0.5em;
}

.woe-radio-toolbar input[type="radio"] {
	display: none;
}

.woe-radio-toolbar label {
	border-color: #ccc;
	border-radius: 0.25em;
	border-style: solid;
	border-width: 0.15em;
	padding: 0.25em 1em 0.25em 1em;
	font-size: 1.0rem;
	cursor: pointer;
}

.woe-radio-toolbar input[type="radio"]:checked+label {
	background-color: #0069ff;
	border-color: #0069ff;
	color: white;
}